*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    width: 100%;
    height: 5vw;
    background-color: #EFE4C8;

}
.nav-container{
    max-width: 90vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logonav{
    width: 5VW;
    object-fit: contain;
}
.navber{
    display: flex;
    align-items: center;
}
.navber-name{
    color: #3F464B;
    font-size: 1.2vw;
    margin-right: 20px;
}
.head{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3F464B;
}
.bar{
    border: #3F464B;
    border: 1px solid;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
