.dropdown-item {
    background-color: #F5F5F5;
    color: #000;
}

.dropdown-menu .disabled{
    background-color: gray;
    color: white;
}
.dropdown-item:hover{
    background-color: grey;
}
.dropdown-menu{
    width: 260px;
    background-color:#F5F5F5;
}
.btn{
    text-align:center;
    width: 260px;
}
/* .dropdown-toggle{
    text-align: end;
} */

